<h1>New Employeee</h1>

<%= form_with model:@employee,url:employees_path , method: :post do |f| %>
 <div>
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div> 
  
  <div>
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no%>
  </div>
  <div>
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </div> 
  <div>
    <%= f.label :age %><br />
    <%= f.text_field :age%>
  </div>

  <div>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div> 
   <div>
    <%= f.label :images %><br />
    <%= f.file_field :images, multiple: true  %>
  </div> 
  <div>
    <%= f.submit  %>
  </div>

<% end %>