<h1>Profile</h1>

id : <%=@employee.id %> <br>
name : <%=@employee.name %><br>
phone_no : <%=@employee.phone_no %><br>
email : <%=@employee.email %><br>
age : <%=@employee.age %><br>
address : <%=@employee.address %><br>