<%= form_with model:@admin,url:admin_path(@admin.id) , method: :patch do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div> 
 
  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no%>
  </div>
  <div class="field">
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </div> 
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age%>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div> 
  <div>
    <%= f.submit  %>
  </div>

<% end %>
