<h1>Profile</h1>

id : <%=@admin.id %> <br>
name : <%=@admin.name %><br>
phone_no : <%=@admin.phone_no %><br>
email : <%=@admin.email %><br>
age : <%=@admin.age %><br>
address : <%=@admin.address %><br>
<%if @admin.image.attached?%>
<%= image_tag(@admin.image,width: "200px" ,height: "200px") %>
<%end%><br>
<%= link_to "back",admins_path %>
